In [56]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({"Product ID": [1,2,3,4], "Product Name": ["t-shirt", "t-shirt", "skirt", "skirt"], "Color":\
                    ["Blue","Green", "Red", "Black" ]}).to_string(index=False)

# df1.set_index('Product ID', inplace=True)


#df1 = df1.style.hide_index()

In [3]:
print(df1)

 Product ID Product Name Color
          1      t-shirt  Blue
          2      t-shirt Green
          3        skirt   Red
          4        skirt Black

In [4]:
quote = "Albert Einstein once said 'A person who never made a mistake never tried anything new'"

print(quote)

Albert Einstein once said 'A person who never made a mistake never tried anything new'

In [5]:
famous_person = "Albert Einstein"

famous_person_1 = f"{famous_person} once said 'A person who never made a mistake never tried anything new'"

print(famous_person_1)

Albert Einstein once said 'A person who never made a mistake never tried anything new'

In [6]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']

print(bicycles[-1])

specialized

In [7]:
magicians = ['alice', 'david', 'carolina']

for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")

Alice, that was a great trick!
David, that was a great trick!
Carolina, that was a great trick!

In [8]:
orders = [(9423517, '2022 - 02 - 04', 9001),
         (4626232, '2022 - 02 - 04', 9003),
         (9423534, '2002 - 02 - 04', 9001),
         (9423679, '2002 - 02 - 05', 9002),
         (4626377, '2022 - 02 - 05', 9003),
         (4626412, '2022 - 02 - 05', 9004),
         (9423783, '2022 - 02 - 06', 9002),
         (4626490, '2022 - 02 - 06', 9004)]

df_orders = pd.DataFrame(orders, columns = ['OrderNo', 'Date', 'Empno'])

print(df_orders)

#how to delete the index number

   OrderNo            Date  Empno
0  9423517  2022 - 02 - 04   9001
1  4626232  2022 - 02 - 04   9003
2  9423534  2002 - 02 - 04   9001
3  9423679  2002 - 02 - 05   9002
4  4626377  2022 - 02 - 05   9003
5  4626412  2022 - 02 - 05   9004
6  9423783  2022 - 02 - 06   9002
7  4626490  2022 - 02 - 06   9004

In [9]:
details = [(9423517, 'Jeans', 'Rip Curl', 87.0, 1),
          (9423517, 'Jacket','The North Face', 112.0, 1),
          (4626232, 'Socks', 'Vans', 15.0, 1),
          (4626232, 'Jeans', 'Quiksilver', 82.0, 1),
          (9423534, 'Socks', 'DC', 10.0, 2),
          (9423534, 'Socks', 'Quicksilver', 12.0, 2),
          (9423679, 'T-Shirt', 'Patagonia', 35.0, 1),
          (4626377, 'Hoody', 'Animal', 44.0, 1),
          (4626377, 'Cargo Shorts', 'Animal', 38.0, 1),
          (4626412, 'Shirt', 'Volcom', 78.0, 1),
          (9423783, 'Boxer Shorts', 'Superdry', 30.0, 2),
          (9423783, 'Shorts', 'Globe', 26.0, 1),
          (4626490, 'Cargo Shorts', 'Billabong', 54.0, 1),
          (4626490, 'Sweater', 'Dickies', 56.0, 1)
          ]


df_details = pd.DataFrame(details, columns =['OrderNo', 'Item', 'Brand', 'Price', 'Quantity'])

print(df_details)

    OrderNo          Item           Brand  Price  Quantity
0   9423517         Jeans        Rip Curl   87.0         1
1   9423517        Jacket  The North Face  112.0         1
2   4626232         Socks            Vans   15.0         1
3   4626232         Jeans      Quiksilver   82.0         1
4   9423534         Socks              DC   10.0         2
5   9423534         Socks     Quicksilver   12.0         2
6   9423679       T-Shirt       Patagonia   35.0         1
7   4626377         Hoody          Animal   44.0         1
8   4626377  Cargo Shorts          Animal   38.0         1
9   4626412         Shirt          Volcom   78.0         1
10  9423783  Boxer Shorts        Superdry   30.0         2
11  9423783        Shorts           Globe   26.0         1
12  4626490  Cargo Shorts       Billabong   54.0         1
13  4626490       Sweater         Dickies   56.0         1

In [61]:
emps = [(9001, 'Jeff Russell', 'LA'),
        (9002, 'Jane Boorman', 'San Francisco'),
        (9003, 'Tom Heints', 'NYC'),
        (9004, 'Maya Silver', 'Philadelphia')
       ]

df_emps = pd.DataFrame(emps, columns =['Empno', 'Empname', 'Location'])

print(df_emps)

   Empno    Empname       Location
0  9001   Jeff Russell             LA
1  9002   Jane Boorman  San Francisco
2  9003     Tom Heints            NYC
3  9004    Maya Silver   Philadelphia

In [69]:
locations = [('LA', 'West'),
            ('San Francisco', 'West'),
            ('NYC', 'East'),
            ('Philadelphia', 'East')
            ]

df_locations = pd.DataFrame(locations, columns = ['Location', 'Region'])

print(df_locations)

     Location    Region
0             LA  West
1  San Francisco  West
2            NYC  East
3   Philadelphia  East

In [67]:
df_sales = df_orders.merge(df_details)#.to_string(index=False)


#df_sales = df_sales.style.set_properties(**{'text-align': 'left'})
#pd.set_option('colheader_justify', 'center')
print(df_sales)

    OrderNo       Date       Empno      Item          Brand       Price  \
0   9423517  2022 - 02 - 04  9001          Jeans        Rip Curl   87.0
1   9423517  2022 - 02 - 04  9001         Jacket  The North Face  112.0
2   4626232  2022 - 02 - 04  9003          Socks            Vans   15.0
3   4626232  2022 - 02 - 04  9003          Jeans      Quiksilver   82.0
4   9423534  2002 - 02 - 04  9001          Socks              DC   10.0
5   9423534  2002 - 02 - 04  9001          Socks     Quicksilver   12.0
6   9423679  2002 - 02 - 05  9002        T-Shirt       Patagonia   35.0
7   4626377  2022 - 02 - 05  9003          Hoody          Animal   44.0
8   4626377  2022 - 02 - 05  9003   Cargo Shorts          Animal   38.0
9   4626412  2022 - 02 - 05  9004          Shirt          Volcom   78.0
10  9423783  2022 - 02 - 06  9002   Boxer Shorts        Superdry   30.0
11  9423783  2022 - 02 - 06  9002         Shorts           Globe   26.0
12  4626490  2022 - 02 - 06  9004   Cargo Shorts       Billabong   54.0
13  4626490  2022 - 02 - 06  9004        Sweater         Dickies   56.0

    Quantity
0       1
1       1
2       1
3       1
4       2
5       2
6       1
7       1
8       1
9       1
10      2
11      1
12      1
13      1

In [40]:
df_sales

,OrderNo,Date,Empno,Item,Brand,Price,Quantity
0,9423517,2022 - 02 - 04,9001,Jeans,Rip Curl,87.0,1
1,9423517,2022 - 02 - 04,9001,Jacket,The North Face,112.0,1
2,4626232,2022 - 02 - 04,9003,Socks,Vans,15.0,1
3,4626232,2022 - 02 - 04,9003,Jeans,Quiksilver,82.0,1
4,9423534,2002 - 02 - 04,9001,Socks,DC,10.0,2
5,9423534,2002 - 02 - 04,9001,Socks,Quicksilver,12.0,2
6,9423679,2002 - 02 - 05,9002,T-Shirt,Patagonia,35.0,1
7,4626377,2022 - 02 - 05,9003,Hoody,Animal,44.0,1
8,4626377,2022 - 02 - 05,9003,Cargo Shorts,Animal,38.0,1
9,4626412,2022 - 02 - 05,9004,Shirt,Volcom,78.0,1
10,9423783,2022 - 02 - 06,9002,Boxer Shorts,Superdry,30.0,2
11,9423783,2022 - 02 - 06,9002,Shorts,Globe,26.0,1
12,4626490,2022 - 02 - 06,9004,Cargo Shorts,Billabong,54.0,1
13,4626490,2022 - 02 - 06,9004,Sweater,Dickies,56.0,1

In [58]:
#df_sales['Total'] = df_sales['Price'] * df_sales['Quantity']

#df_sales

In [66]:
df_sales_modify = df_sales[['Date', 'Empno', 'Total']]

df_sales_modify

print(df_sales_modify)

         Date       Empno  Total
0   2022 - 02 - 04  9001    87.0
1   2022 - 02 - 04  9001   112.0
2   2022 - 02 - 04  9003    15.0
3   2022 - 02 - 04  9003    82.0
4   2002 - 02 - 04  9001    20.0
5   2002 - 02 - 04  9001    24.0
6   2002 - 02 - 05  9002    35.0
7   2022 - 02 - 05  9003    44.0
8   2022 - 02 - 05  9003    38.0
9   2022 - 02 - 05  9004    78.0
10  2022 - 02 - 06  9002    60.0
11  2022 - 02 - 06  9002    26.0
12  2022 - 02 - 06  9004    54.0
13  2022 - 02 - 06  9004    56.0

In [71]:
df_sales_emps = df_sales.merge(df_emps)

df_result = df_sales_emps.merge(df_locations)

print(df_sales_emps)

print(df_result)

    OrderNo       Date       Empno      Item          Brand       Price  \
0   9423517  2022 - 02 - 04  9001          Jeans        Rip Curl   87.0
1   9423517  2022 - 02 - 04  9001         Jacket  The North Face  112.0
2   9423534  2002 - 02 - 04  9001          Socks              DC   10.0
3   9423534  2002 - 02 - 04  9001          Socks     Quicksilver   12.0
4   4626232  2022 - 02 - 04  9003          Socks            Vans   15.0
5   4626232  2022 - 02 - 04  9003          Jeans      Quiksilver   82.0
6   4626377  2022 - 02 - 05  9003          Hoody          Animal   44.0
7   4626377  2022 - 02 - 05  9003   Cargo Shorts          Animal   38.0
8   9423679  2002 - 02 - 05  9002        T-Shirt       Patagonia   35.0
9   9423783  2022 - 02 - 06  9002   Boxer Shorts        Superdry   30.0
10  9423783  2022 - 02 - 06  9002         Shorts           Globe   26.0
11  4626412  2022 - 02 - 05  9004          Shirt          Volcom   78.0
12  4626490  2022 - 02 - 06  9004   Cargo Shorts       Billabong   54.0
13  4626490  2022 - 02 - 06  9004        Sweater         Dickies   56.0

    Quantity    Empname       Location
0       1     Jeff Russell             LA
1       1     Jeff Russell             LA
2       2     Jeff Russell             LA
3       2     Jeff Russell             LA
4       1       Tom Heints            NYC
5       1       Tom Heints            NYC
6       1       Tom Heints            NYC
7       1       Tom Heints            NYC
8       1     Jane Boorman  San Francisco
9       2     Jane Boorman  San Francisco
10      1     Jane Boorman  San Francisco
11      1      Maya Silver   Philadelphia
12      1      Maya Silver   Philadelphia
13      1      Maya Silver   Philadelphia
    OrderNo       Date       Empno      Item          Brand       Price  \
0   9423517  2022 - 02 - 04  9001          Jeans        Rip Curl   87.0
1   9423517  2022 - 02 - 04  9001         Jacket  The North Face  112.0
2   9423534  2002 - 02 - 04  9001          Socks              DC   10.0
3   9423534  2002 - 02 - 04  9001          Socks     Quicksilver   12.0
4   4626232  2022 - 02 - 04  9003          Socks            Vans   15.0
5   4626232  2022 - 02 - 04  9003          Jeans      Quiksilver   82.0
6   4626377  2022 - 02 - 05  9003          Hoody          Animal   44.0
7   4626377  2022 - 02 - 05  9003   Cargo Shorts          Animal   38.0
8   9423679  2002 - 02 - 05  9002        T-Shirt       Patagonia   35.0
9   9423783  2022 - 02 - 06  9002   Boxer Shorts        Superdry   30.0
10  9423783  2022 - 02 - 06  9002         Shorts           Globe   26.0
11  4626412  2022 - 02 - 05  9004          Shirt          Volcom   78.0
12  4626490  2022 - 02 - 06  9004   Cargo Shorts       Billabong   54.0
13  4626490  2022 - 02 - 06  9004        Sweater         Dickies   56.0

    Quantity    Empname       Location    Region
0       1     Jeff Russell             LA  West
1       1     Jeff Russell             LA  West
2       2     Jeff Russell             LA  West
3       2     Jeff Russell             LA  West
4       1       Tom Heints            NYC  East
5       1       Tom Heints            NYC  East
6       1       Tom Heints            NYC  East
7       1       Tom Heints            NYC  East
8       1     Jane Boorman  San Francisco  West
9       2     Jane Boorman  San Francisco  West
10      1     Jane Boorman  San Francisco  West
11      1      Maya Silver   Philadelphia  East
12      1      Maya Silver   Philadelphia  East
13      1      Maya Silver   Philadelphia  East

In [72]:
df_result

,OrderNo,Date,Empno,Item,Brand,Price,Quantity,Empname,Location,Region
0,9423517,2022 - 02 - 04,9001,Jeans,Rip Curl,87.0,1,Jeff Russell,LA,West
1,9423517,2022 - 02 - 04,9001,Jacket,The North Face,112.0,1,Jeff Russell,LA,West
2,9423534,2002 - 02 - 04,9001,Socks,DC,10.0,2,Jeff Russell,LA,West
3,9423534,2002 - 02 - 04,9001,Socks,Quicksilver,12.0,2,Jeff Russell,LA,West
4,4626232,2022 - 02 - 04,9003,Socks,Vans,15.0,1,Tom Heints,NYC,East
5,4626232,2022 - 02 - 04,9003,Jeans,Quiksilver,82.0,1,Tom Heints,NYC,East
6,4626377,2022 - 02 - 05,9003,Hoody,Animal,44.0,1,Tom Heints,NYC,East
7,4626377,2022 - 02 - 05,9003,Cargo Shorts,Animal,38.0,1,Tom Heints,NYC,East
8,9423679,2002 - 02 - 05,9002,T-Shirt,Patagonia,35.0,1,Jane Boorman,San Francisco,West
9,9423783,2022 - 02 - 06,9002,Boxer Shorts,Superdry,30.0,2,Jane Boorman,San Francisco,West
10,9423783,2022 - 02 - 06,9002,Shorts,Globe,26.0,1,Jane Boorman,San Francisco,West
11,4626412,2022 - 02 - 05,9004,Shirt,Volcom,78.0,1,Maya Silver,Philadelphia,East
12,4626490,2022 - 02 - 06,9004,Cargo Shorts,Billabong,54.0,1,Maya Silver,Philadelphia,East
13,4626490,2022 - 02 - 06,9004,Sweater,Dickies,56.0,1,Maya Silver,Philadelphia,East