In [10]:
import pandas as pd

In [7]:
df1 = pd.DataFrame({"Product ID": [1,2,3,4], "Product Name": ["t-shirt", "t-shirt", "skirt", "skirt"], "Color":\
                    ["Blue","Green", "Red", "Black" ]}).to_string(index=False)

# df1.set_index('Product ID', inplace=True)


#df1 = df1.style.hide_index()

In [9]:
print(df1)

 Product ID Product Name Color
          1      t-shirt  Blue
          2      t-shirt Green
          3        skirt   Red
          4        skirt Black

In [11]:
quote = "Albert Einstein once said 'A person who never made a mistake never tried anything new'"

print(quote)

Albert Einstein once said 'A person who never made a mistake never tried anything new'

In [13]:
famous_person = "Albert Einstein"

famous_person_1 = f"{famous_person} once said 'A person who never made a mistake never tried anything new'"

print(famous_person_1)

Albert Einstein once said 'A person who never made a mistake never tried anything new'

In [14]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']

print(bicycles[-1])

specialized

In [15]:
magicians = ['alice', 'david', 'carolina']

for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")

Alice, that was a great trick!
David, that was a great trick!
Carolina, that was a great trick!

In [21]:
orders = [(9423517, '2022 - 02 - 04', 9001),
         (4626232, '2022 - 02 - 04', 9003),
         (9423534, '2002 - 02 - 04', 9001),
         (9423679, '2002 - 02 - 05', 9002),
         (4626377, '2022 - 02 - 05', 9003),
         (4626412, '2022 - 02 - 05', 9004),
         (9423783, '2022 - 02 - 06', 9002),
         (4626490, '2022 - 02 - 06', 9004)]

df_orders = pd.DataFrame(orders, columns = ['OrderNo', 'Date', 'Empno'])

print(df_orders)

#how to delete the index number

   OrderNo            Date  Empno
0  9423517  2022 - 02 - 04   9001
1  4626232  2022 - 02 - 04   9003
2  9423534  2002 - 02 - 04   9001
3  9423679  2002 - 02 - 05   9002
4  4626377  2022 - 02 - 05   9003
5  4626412  2022 - 02 - 05   9004
6  9423783  2022 - 02 - 06   9002
7  4626490  2022 - 02 - 06   9004

In [23]:
details = [(9423517, 'Jeans', 'Rip Curl', 87.0, 1),
          (9423517, 'Jacket','The North Face', 112.0, 1),
          (4626232, 'Socks', 'Vans', 15.0, 1),
          (4626232, 'Jeans', 'Quiksilver', 82.0, 1),
          (9423534, 'Socks', 'DC', 10.0, 2),
          (9423534, 'Socks', 'Quicksilver', 12.0, 2),
          (9423679, 'T-Shirt', 'Patagonia', 35.0, 1),
          (4626377, 'Hoody', 'Animal', 44.0, 1),
          (4626377, 'Cargo Shorts', 'Animal', 38.0, 1),
          (4626412, 'Shirt', 'Volcom', 78.0, 1),
          (9423783, 'Boxer Shorts', 'Superdry', 30.0, 2),
          (9423783, 'Shorts', 'Globe', 26.0, 1),
          (4626490, 'Cargo Shorts', 'Billabong', 54.0, 1),
          (4626490, 'Sweater', 'Dickies', 56.0, 1)
          ]


df_details = pd.DataFrame(details, columns =['OrderNo', 'Item', 'Brand', 'Price', 'Quantity'])

print(df_details)

    OrderNo          Item           Brand  Price  Quantity
0   9423517         Jeans        Rip Curl   87.0         1
1   9423517        Jacket  The North Face  112.0         1
2   4626232         Socks            Vans   15.0         1
3   4626232         Jeans      Quiksilver   82.0         1
4   9423534         Socks              DC   10.0         2
5   9423534         Socks     Quicksilver   12.0         2
6   9423679       T-Shirt       Patagonia   35.0         1
7   4626377         Hoody          Animal   44.0         1
8   4626377  Cargo Shorts          Animal   38.0         1
9   4626412         Shirt          Volcom   78.0         1
10  9423783  Boxer Shorts        Superdry   30.0         2
11  9423783        Shorts           Globe   26.0         1
12  4626490  Cargo Shorts       Billabong   54.0         1
13  4626490       Sweater         Dickies   56.0         1

In [19]:
emps = [(9001, 'Jeff Russell', 'LA'),
        (9002, 'Jane Boorman', 'San Francisco'),
        (9003, 'Tom Heints', 'NYC'),
        (9004, 'Maya Silver', 'Philadelphia')
       ]

In [20]:
locations = [('LA', 'West'),
            ('San Francisco', 'West'),
            ('NYC', 'East'),
            ('Philadelphia', 'East')
            ]